In [ ]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from fbprophet import prophet

In [ ]:
pip install fbprophet

# Data Preparation

In the above section, I started the task of stock price prediction by importing the python libraries. Now I will write a function that will prepare the dataset so that we can fit it easily in the Linear Regression model:

In [5]:
def prepare_data(df,forecast_col,forecast_out,test_size):
    label = df[forecast_col].shift(-forecast_out) #creating new column called label with the last 5 rows are nan
    X = np.array(df[[forecast_col]]) #creating the feature array
    X = preprocessing.scale(X) #processing the feature array
    X_lately = X[-forecast_out:] #creating the column i want to use later in the predicting method
    X = X[:-forecast_out] # X that will contain the training and testing
    label.dropna(inplace=True) #dropping na values
    y = np.array(label)  # assigning Y
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=test_size, random_state=0) #cross validation

    response = [X_train,X_test , Y_train, Y_test , X_lately]
    return response

In [3]:
df= pd.read_csv("BTC-USD.csv")

In [4]:
df.head(10)

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-01-05,7410.451660,7544.497070,7400.535645,7411.317383,7411.317383,19725074094
1,2020-01-06,7410.452148,7781.867188,7409.292969,7769.219238,7769.219238,23276261598
2,2020-01-07,7768.682129,8178.215820,7768.227539,8163.692383,8163.692383,28767291326
3,2020-01-08,8161.935547,8396.738281,7956.774414,8079.862793,8079.862793,31672559264
4,2020-01-09,8082.295898,8082.295898,7842.403809,7879.071289,7879.071289,24045990465
5,2020-01-10,7878.307617,8166.554199,7726.774902,8166.554199,8166.554199,28714583843
6,2020-01-11,8162.190918,8218.359375,8029.642090,8037.537598,8037.537598,25521165085
7,2020-01-12,8033.261719,8200.063477,8009.059082,8192.494141,8192.494141,22903438381
8,2020-01-13,8189.771973,8197.788086,8079.700684,8144.194336,8144.194336,22482910687
9,2020-01-14,8140.933105,8879.511719,8140.933105,8827.764648,8827.764648,44841784107

In [6]:
df= df[df.symbol=="GOOG"]

AttributeError: 'DataFrame' object has no attribute 'symbol'